@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 100px;
    display: grid;
    align-items: center;
    background-color: skyblue;
}
header h1{
    padding: 10px;
    text-align: center;
}
menu{
    background-color: skyblue;
}
i#burguer{
    display: block;
    text-align: center;
    padding: 7px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.466);
}
i#burguer:hover{
    background-color: rgb(96, 193, 231);
    color: white;
}
nav#itens{
    display: none;
}
menu nav ul a{
    text-decoration: none;
    text-align: center;
    color: black;
}
menu nav ul a li{
    padding: 10px;
    list-style-type: none;
    border-top: 1px solid white;
}
menu nav ul a li:hover{
    background-color: rgb(96, 193, 231);
    color: white;
}
.imagem{
    max-width: 300px;
    display: block;
    margin: 5px auto;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.521);
    border-radius: 3px;
}
p{
    padding: 15px;
}
h1, h2, h4{
    padding: 15px;
}