@charset "UTF-8";
/*mobile first*/
*{
    margin: 0;
    padding: 0;
}
body, main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 87, 128);
    display: grid;
    align-items: center;
    justify-content: center;
}
section{
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    height: 600px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.500);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
div#imagem{
    text-align: center;
    height: 200px;
    background-image: url(../img/pexel.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#imagem a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 2px black;
}
div#formulario{
padding: 15px;
}
div#formulario h1{
    padding: 10px;
}
div#formulario p{
    display: block;
}
div.campo{
    padding: 0 0 7.5px 0;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
div.campo input{
    width: 95%;
    padding: 5px;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.438);
    border-radius: 5px;
}
form input#btnEntrar{
    margin: 7px 0;
    display: block;
    padding: 8px;
    width: 100%;
    background-color: rgba(128, 0, 128, 0.623);
    color: white;
    border: none;
    border-radius: 5px;
}
form input#btnEntrar:hover{
    background-color: rgb(128, 0, 128);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.493);
    cursor: pointer;
}

form a{
    text-align: center;
    display: inline-block;
    padding: 8px;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
}
form a:hover{
    text-decoration: underline;
    color: rgb(2, 2, 182);
}

i#iconEmail{
    font-size: 1em;
}

/*media query para tablet*/
@media screen and (min-width: 769px) and (max-width: 992px){
    body, main{
        background-image: linear-gradient(360deg, purple, rgb(0, 87, 128));
    }
    section{
        display: flex;
        width: 80vw;
    }
    div#imagem{
        width: 35vw;
        height: 100%;
    }
    div#formulario{
        width: 65vw;
        height: 100%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body, main{
        background-image: linear-gradient(360deg, purple, rgb(0, 87, 128));
    }
    section{
        display: flex;
        width: 80vw;
    }
    div#imagem{
        width: 45%;
        height: 100%;
    }
    div#formulario{
        width: 55%;
        height: 100%;
    }
    div.campo{
        background-color: white;
    }
    div.campo input{
        border-bottom: 1px solid rgba(0, 0, 0, 0.473);
    }
    div.campo label{
        display: none;
    }

}

@media screen and (min-width: 1201px) {
    body, main{
        background-image: linear-gradient(360deg, purple, rgb(0, 87, 128));
    }
    section{
        display: flex;
        width: 80vw;
    }
    div#imagem{
        width: 50%;
        height: 100%;
    }
    div#formulario{
        width: 50%;
        height: 100%;
    }
}