@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    min-width: 300px;
    max-width: 500px;

    display: grid;
    grid: "header" 1fr
          "nav" auto
          "section" 3fr
          "aside" minmax(200px, 300px)
          "footer" 100px
          / minmax(300px, 500px);
    align-items: start;
}
header{
    grid-area: header;
    align-self: center;
    justify-self: center;

    padding: 15px;
}
nav{
    grid-area: nav;
    align-self: start;
    justify-self: center;

    text-align: center;
    width: 100%;
    background-color: rgba(169, 169, 169, 0.445);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.493);
}
nav  ul  li{
    padding: 15px;
    font-variant: small-caps;
}
nav  ul  li  a{
    text-decoration: none;
    color: black;
}
nav  ul  li:hover{
    background-color: darkgrey;
    cursor: pointer;
}
section{
    grid-area: section;
    text-align: center;

    max-width: 500px;
    padding: 10px;
}
img{
    max-width: 300px;
}
aside{
    grid-area: aside;

    max-width: 500px;
    padding: 15px;
}
footer{
    grid-area: footer;
    text-align: center;
    align-self: end;

    padding: 15px;
    background-color: rgba(169, 169, 169, 0.445);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.493);
}
p{
    text-indent: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif, Courier, monospace ;
    text-align: justify;
    line-height: 1.5;
}
h1, h2{
    padding: 15px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
