@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid:    "header header header" 1fr
             "nav section aside"    4fr
             "footer footer footer" 50px
            / minmax(100px, auto) minmax(200px, 3fr) minmax(200px, 2fr);
}
header{
    grid-area: header;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    text-align: center;
    align-self: center;
}
nav{
    grid-area: nav;

}
section{
    grid-area: section;
    justify-self: end;
}
aside{
    grid-area: aside;
    justify-self: start;
}
footer{
    grid-area: footer;
}
article#conteudo{
    max-width: 800px;
}
article#side{
    max-width: 500px;
}
ul{
    display: grid;
    grid:   "menu1" 1fr
            "menu2" 1fr
            "menu3" 1fr
          / auto;
    justify-items: center;
}

